:root {
  --tkd1: #fe6100;
  --tkd2: #2c0101;
  --tkd3: #fff;
  --tkd4: #04a777;
  --tkdred: #c00;
  --tkdgreen: #0c0;
  --tkdyellow: #ffc207;
  --tkdgray: #ccc;
  --text-color: var(--tkd2);
  --background-color: var(--tkd3);
  --active-color: #0c0;
}
.bodydark {
  --text-color: var(--tkd3);
  --background-color: var(--tkd2);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
button,
hr,
input {
  overflow: visible;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
progress,
sub,
sup {
  vertical-align: baseline;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
menu,
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="submit"],
[type="reset"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.text-tkd {
  color: var(--text-color) !important;
}
body {
  background-image: radial-gradient(
    circle at 50% 90%,
    #c9dbe9,
    #80b3ff 79%,
    #385c78
  );
}
.bodydark {
  background: radial-gradient(
    circle at 50% 90%,
    #060010 0,
    #060010 6%,
    #090016 11%,
    #070016 20%,
    #0a0121 48%,
    #0a0127 55%,
    #0a0129 57%,
    #0c012b 62%,
    #0e0131 68%,
    #0d012f 69%,
    #18023c 78%,
    #19023e 79%,
    #19023e 79%,
    #1c0242 81%,
    #22034b 85%,
    #2e045a 92%,
    #2f045e 96%,
    #340464 98%,
    #370569 100%
  );
}
body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/stars.png");
  background-size: cover;
  animation: stars 40s linear infinite alternate;
  z-index: -200;
}
body:before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/starframe2.png");
  background-size: cover;
  animation: stars 70s linear infinite alternate;
  z-index: -200;
}
.background {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: url("../img/cloud1.png");
  background-size: cover;
  opacity: 0.7;
  filter: drop-shadow(0 0 6px #7aaffe);
  z-index: -10;
}
.bodydark .background {
  filter: drop-shadow(0 0 50px #dfeef5);
}
.background:before,
.background:after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  min-width: 2560px;
  width: 100%;
  background-size: auto 100%;
  animation: clouds linear infinite alternate;
  z-index: -3;
}
.background:after {
  background: url("../img/Cloud2.png") bottom repeat-x;
  animation-duration: 210s;
}
.background:before {
  background: url("../img/Cloud3.png") bottom repeat-x;
  animation-duration: 120s;
  background-size: contain;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1em;
  letter-spacing: 0.1px;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: 0 0;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
.fullscreen {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen .fs-icon .arrow {
  transition: fill 1s ease;
  fill: transparent;
  stroke: var(--tkd2);
  stroke-width: 2;
  stroke-linejoin: round;
}
.bodydark .fullscreen .fs-icon .arrow {
  stroke: var(--tkd3);
  /* fill: var(--tkd3); */
}
.fullscreen .fs-icon .tl {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: tl 1s ease-in-out;
}
.fullscreen .fs-icon .tr {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: tr 1s ease-in-out;
}
.fullscreen .fs-icon .bl {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: bl 1s ease-in-out;
}
.fullscreen .fs-icon .br {
  transform: rotate(0deg);
  transition: 0.5s ease-out;
  animation: br 1s ease-in-out;
}
.fullscreen:hover .fs-icon {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.fullscreen:hover .fs-icon .arrow {
  transition: transform 0.5s ease-out;
}
.fullscreen:hover .fs-icon .tl {
  transform: translate(-4px, -4px);
}
.fullscreen:hover .fs-icon .tr {
  transform: translate(4px, -4px);
}
.fullscreen:hover .fs-icon .bl {
  transform: translate(-4px, 4px);
}
.fullscreen:hover .fs-icon .br {
  transform: translate(4px, 4px);
}
.fullscreen:active .fs-icon {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.fullscreen:active .fs-icon .arrow {
  fill: var(--tkd2);
  transition: fill 1s ease;
}
.fullscreen:active .fs-icon .tl {
  transform: translate(-60px, -60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .tr {
  transform: translate(60px, -60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .bl {
  transform: translate(-60px, 60px);
  transition: 0.2s ease-out;
}
.fullscreen:active .fs-icon .br {
  transform: translate(60px, 60px);
  transition: 0.2s ease-out;
}
.fullscreen.full .fs-icon .tl {
  transform: translate(40px, 40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .br {
  transform: translate(-40px, -40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .tr {
  transform: translate(-40px, 40px);
  transition: 0.5s ease-out;
}
.fullscreen.full .fs-icon .bl {
  transform: translate(40px, -40px);
  transition: 0.5s ease-out;
}
.fullscreen.full:hover .fs-icon {
  transform: scale(0.9);
}
.fullscreen.full:hover .fs-icon .tl {
  transform: translate(35px, 35px);
}
.fullscreen.full:hover .fs-icon .tr {
  transform: translate(-35px, 35px);
}
.fullscreen.full:hover .fs-icon .bl {
  transform: translate(35px, -35px);
}
.fullscreen.full:hover .fs-icon .br {
  transform: translate(-35px, -35px);
}
@keyframes spark1 {
  0% {
    right: -5px;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  20% {
    height: 3px;
    width: 3px;
    right: 0;
    opacity: 1;
  }
  30% {
    right: -5px;
    opacity: 1;
    height: 3px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  100% {
    right: -60px;
    bottom: 40px;
    opacity: 0;
  }
}
@keyframes spark2 {
  0% {
    height: 3px;
    width: 3px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    right: -20px;
    bottom: 100px;
    opacity: 0;
  }
}
@keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: 0;
    bottom: 100px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    height: 2px;
    width: 2px;
  }
  100% {
    left: -20px;
    bottom: -10px;
    opacity: 0;
    height: 3px;
    width: 3px;
  }
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkdown {
  from {
    height: 0;
  }
  to {
    height: 30%;
  }
}
@keyframes checkup {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 55%;
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
@keyframes counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes glitch {
  0% {
    transform: skewX(0deg);
  }
  5% {
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    transform: skewX(2deg);
  }
  80% {
    transform: skewX(0deg);
  }
  85% {
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    transform: skewX(0deg);
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes headline {
  0% {
    color: transparent;
    text-shadow: 0 0.5vmin 2vmin rgba(255, 255, 255, 0);
  }
}
@keyframes lf1 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(16px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 68px, 0);
  }
  15% {
    clip: rect(85px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(65px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(93px, 9999px, 68px, 0);
  }
  30% {
    clip: rect(10px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(12px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(40px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(19px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(2px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(8px, 9999px, 65px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 57px, 0);
  }
  75% {
    clip: rect(14px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(39px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(22px, 9999px, 35px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 71px, 0);
  }
  95% {
    clip: rect(34px, 9999px, 90px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 68px, 0);
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(49px, 9999px, 40px, 0);
  }
  5% {
    clip: rect(75px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(97px, 9999px, 93px, 0);
  }
  15% {
    clip: rect(15px, 9999px, 9px, 0);
  }
  20% {
    clip: rect(14px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 94px, 0);
  }
  30% {
    clip: rect(17px, 9999px, 20px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 59px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 84px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 25px, 0);
  }
  50% {
    clip: rect(46px, 9999px, 14px, 0);
  }
  55% {
    clip: rect(47px, 9999px, 1px, 0);
  }
  60% {
    clip: rect(64px, 9999px, 58px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(56px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(80px, 9999px, 71px, 0);
  }
  80% {
    clip: rect(8px, 9999px, 13px, 0);
  }
  85% {
    clip: rect(66px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(68px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(56px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(28px, 9999px, 53px, 0);
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes rotate {
  0% {
    opacity: 0.7;
    color: pink;
  }
  13% {
    opacity: 1;
  }
  26% {
    opacity: 0.7;
    color: green;
  }
  50% {
    opacity: 1;
    color: blue;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.3;
  }
}
@keyframes scan {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes stars {
  0% {
    transform: rotate(-14deg);
  }
  100% {
    transform: rotate(14deg);
  }
}
@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100px * -1));
  }
}
@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes x-it {
  from {
    height: 0;
  }
  to {
    height: 50%;
  }
}
@keyframes zoomin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: -1%;
    opacity: 1;
  }
}
@keyframes slidetop {
  0% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes press {
  100% {
    box-shadow: -1px -1px 10px 2px #12100f, 3px 3px 10px 3px #302b29;
  }
}
@keyframes depress {
  0% {
    box-shadow: -1px -1px 10px 2px #12100f, 3px 3px 10px 3px #302b29;
  }
  100% {
    box-shadow: 7px 7px 20px 5px #0f0d0d, -3px -3px 20px 3px #463e3c;
  }
}
@keyframes cycle {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 120px;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf1 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes counter-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes testim-scale {
  0% {
    box-shadow: 0 0 0 0 #eee;
  }
  35% {
    box-shadow: 0 0 10px 5px #eee;
  }
  70% {
    box-shadow: 0 0 10px 5px #ea830e;
  }
  100% {
    box-shadow: 0 0 0 0 #ea830e;
  }
}
@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: none;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animatePullOut {
  to {
    text-shadow: 5px -10px 0 crimson, 0 0 0 #ad102f, 0px -1px 0 #ad102f,
      1px -2px 0 #ad102f, 1px -3px 0 #ad102f, 2px -4px 0 #ad102f,
      2px -5px 0 #ad102f, 3px -6px 0 #ad102f, 3px -7px 0 #ad102f,
      4px -8px 0 #ad102f, 4px -9px 0 #ad102f, 5px -10px 0 #ad102f;
  }
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes zoom {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100% {
    width: 1500px;
    height: 1500px;
    opacity: 0;
  }
}
@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse1 {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}
@keyframes piece-4 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 94px;
    top: -23px;
  }
}
@keyframes piece-3 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 90px;
    top: -31px;
  }
}
@keyframes piece-2 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 80px;
    top: -37px;
  }
}
@keyframes piece-1 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 60px;
    top: -31px;
  }
}
@keyframes piece-0 {
  0%,
  10%,
  90%,
  100% {
    height: 10px;
    top: -5px;
  }
  45%,
  55% {
    height: 30px;
    top: -15px;
  }
}
@keyframes tl {
  0% {
    transform: translate(8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes tr {
  0% {
    transform: translate(-8px, 8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes bl {
  0% {
    transform: translate(8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes br {
  0% {
    transform: translate(-8px, -8px);
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes move-map {
  0% {
    background-position: -849px 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes sunrolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes progress {
  100% {
    right: 100%;
  }
}
html,
body {
  overflow: auto;
}
#root {
  display: block;
}
.hamburger {
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}
.hamburger .line {
  background: #2f4cdd;
  display: block;
  height: 3px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger .line:nth-child(1) {
  width: 20px;
}
.hamburger .line:nth-child(2) {
  width: 26px;
}
.hamburger .line:nth-child(3) {
  width: 22px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover .line {
  width: 26px;
}
.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(3) {
  width: 10px;
  height: 2px;
}
.hamburger.is-active .line:nth-child(2) {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 22px;
  height: 2px;
}
.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-4px) rotate(-45deg);
  transform: translateY(-4px) rotate(-45deg);
}
.homeContainer {
  display: flex;
  width: 100%;
}
.topbarContainer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.topbarCenter {
  display: flex;
  width: 100%;
  align-items: center;
  margin-right: 12px;
}
.searchbar {
  display: flex;
  height: 45px;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.searchIcon {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 9px;
  transform: scale(0) rotate(0deg);
}
.searchIcon.show {
  transform: scale(1) rotate(360deg);
}
.searchInput {
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-bottom: none;
  border-radius: 10px;
  border-right: none;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  color: var(--text-color);
  font-family: Acme, sans-serif;
  font-size: 17px;
  height: 83%;
  outline: none;
  padding: 0 36px 0 15px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.searchInput:focus {
  outline: none;
}
.topbarRight {
  justify-content: space-between;
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
}
.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.Profile_detail_icon_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.Profile_detail_icon_img div {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.Profile_detail_icon_img div img {
  width: 100%;
}
.bottombar {
  height: 50px;
  width: 100%;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  justify-content: space-around;
  gap: 15px;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
body {
  font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > .diva,
.sidebar-wrapper ul li .diva i,
.sidebar-wrapper .sidebar-menu ul li .diva,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
.page-wrapper .theme {
  background: #1e2229;
}
.page-wrapper.toggled .sidebar-wrapper {
  left: 0;
}
#show-sidebar {
  position: fixed;
  left: -2px;
  bottom: 10px;
  border-radius: 0 4px 4px 0;
  width: 35px;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  justify-content: space-between;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-wrapper .diva {
  text-decoration: none;
}
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
.sidebar-content.desktop {
  overflow-y: hidden;
}
.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.sidebar-wrapper .sidebar-brand > .diva {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}
.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
.sidebar-wrapper .sidebar-header {
  padding: 5px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%), inset 2px 2px 3px rgb(255 255 255 / 10%),
    inset -3px -3px 3px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  align-items: center;
}
.sidebar-wrapper .sidebar-header .user-pic {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.sidebar-wrapper .sidebar-header .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li .diva {
  position: relative;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 2px 8px;
  border-radius: 8px;
}
.sidebar-wrapper .sidebar-menu ul li .diva i {
  font-size: 19px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu ul li .diva span.label,
.sidebar-wrapper .sidebar-menu ul li .diva span.badge {
  float: right;
  background: var(--tkd2);
  color: var(--tkd1);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  transition: 0.5s;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}
.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  height: 35px;
  align-items: center;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  justify-content: space-between;
}
.sidebar-footer > .diva {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.sidebar-footer > .diva .notification {
  position: absolute;
  top: 0;
}
.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}
.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0 none #ffffff;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0 none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.sidebar-wrapper {
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  justify-content: space-between;
  gap: 15px;
}
.sidebar-wrapper ul li:hover .diva {
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
}
.sidebar-footer > a:first-child {
  border-left: none;
}
.sidebar-footer > a:last-child {
  border-right: none;
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .topbarContainer {
    padding: 0;
  }
}
.divadiv1 {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.sidebar-wrapper .sidebar-menu ul li:hover .diva span.label,
.sidebar-wrapper .sidebar-menu ul li:hover .diva span.badge {
  background: var(--tkd1);
  color: var(--tkd2);
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.overlay.open {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
.sidebar-wrapper .sidebar-menu ul li {
  position: relative;
}
.sidebar-wrapper .sidebar-menu ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 11%;
  width: 17%;
  height: 100%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transform-origin: left;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%), inset 2px 2px 3px rgb(255 255 255 / 10%),
    inset -3px -3px 3px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, 0.1);
}
.sidebar-wrapper .sidebar-menu ul li:hover:before {
  opacity: 1;
  transform: translate(-50%, -50%);
  width: 95%;
  left: 50%;
}
.sidebar-wrapper .sidebar-menu ul li.header-menu::before {
  display: none;
}
.tkddarklight {
}
.tkddarklight .toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tkddarklight .toggle-slot {
  position: relative;
  height: 40px;
  width: 40px;
  font-size: 30px;
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot {
}
.tkddarklight .fa-sun-bright {
  font-size: 30px;
  color: #b89000;
  text-shadow: 0 0 4px #ffe999, 0 0 12px #ffe999, 0 0 7px #2c0101;
}
.tkddarklight .sun-icon-wrapper,
.moon-icon-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  opacity: 1;
  transform: rotate(360deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
  align-items: center;
  justify-content: center;
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: rotate(0deg);
}
.tkddarklight .fa-moon-cloud {
  color: white;
  font-size: 30px;
  text-shadow: 0 0 4px #ecf0f1, 0 0 12px #ecf0f1, 0 0 7px #2c0101;
}
.tkddarklight .moon-icon-wrapper {
  opacity: 0;
  transform: rotate(0deg);
}
.tkddarklight .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: rotate(360deg);
}